@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #2a2a72;
  color: #fff;
  background-image: linear-gradient(315deg, #2a2a72 0%, #2e2a68 74%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", "sans-serif";
  margin: 0;
  min-height: 100vh;
}
#continent-select {
  border-radius: 10px;
  border: none;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
  color: #2a2a72;
  font-family: inherit;
  font-size: 1rem;
  padding: 1rem;
  margin-bottom: 2rem;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#continent-select {
  margin: 10px auto;
  display: flex;
  max-width: 320px;
  padding: 1em 2.4em;
  font-size: 0.9em;
}
